:root {
    /* Colors: */
    --color1-blue: #1265Ba;
    --color2-green: #60b37b;
    --color3-teal: #00968b;
    --color4-yellowgreen: #99bc00;
}

* {
    box-sizing: border-box;

}

body {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-banner {
    height: 100px;
    background-position: left;
    padding-bottom: 30px;
    color: #ffffff;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#sidebar {
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    top: 0; 
    flex-basis: 30%;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

#intro-block {
    flex-basis: 70%;
}

#about-link {
    color: var(--color1-blue);
    text-decoration: none;
    display: block;
    padding: 0px 10px 0px 10px;
    margin: 60px 60px 40px 60px;
    border-right: solid;
    background: linear-gradient(to right, white 50%, var(--color1-blue) 50%) left;
    background-size: 200%;
    transition: .3s ease-out;
}

#about-link:hover {
    color: white;
    border-color: var(--color1-blue);
    background-position: right;
}


/* Sliding color code from https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
#projects-link {
    color: var(--color2-green);
    display: block;
    padding: 0px 10px 0px 10px;
    margin: 0px 60px 40px 60px;
    border-right: solid;
    background: linear-gradient(to right, white 50%, var(--color2-green) 50%) left;
    background-size: 200%;
    transition: .3s ease-out;
}

#projects-link:hover {
    color: white;
    border-color: var(--color2-green);
    background-position:right;
}

#option3-link {
    color: var(--color3-teal);
    display: block;
    padding: 0px 10px 0px 10px;
    margin: 0px 60px 40px 60px;
    border-right: solid;
    background: linear-gradient(to right, white 50%, var(--color3-teal) 50%) left;
    background-size: 200%;
    transition: .3s ease-out;

}

#option3-link:hover {
    color: white;
    border-color: var(--color3-teal);
    background-position:right;
}

#contact-link {
    color: var(--color4-yellowgreen);
    display: block;
    padding: 0px 10px 0px 10px;
    margin: 0px 60px 40px 60px;
    border-right: solid;
    background: linear-gradient(to right, white 50%, var(--color4-yellowgreen) 50%) left;
    background-size: 200%;
    transition: .3s ease-out;
}

#contact-link:hover {
    color: white;
    border-color: var(--color4-yellowgreen);
    background-position:right;
}

#intro-block {
    padding-left: 30px;
}

#hello {
    padding: 10px 10px 0px 10px;
    font-weight: 700;
    font-size: 64px;
    color: #1265Ba;

}

#intro {
    padding: 0px 10px 10px 10px ;
    font-size: 30px;
    color: #1265Ba;

}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
}